#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 600px;
    height: 600px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#currentTime {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

#questionsDiv {
    font-weight: bold;
    text-align: center;
}

#startTime {
    background-color: #982000;
    padding: 15px 32px;
    font-size: 25px;
    word-spacing: 5px;
    color: white;
    border-radius: 25px;
}