#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 600px;
    height: 600px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#currentTime {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
}

#questionsDiv {
    font-weight: bold;
    text-align: center;
}

h1 {
    text-align: center;
}

li {
    background-color: #982000;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-decoration: none;
}

#startTime {
    background-color: #982000;
    padding: 15px 32px;
    font-size: 25px;
    word-spacing: 5px;
    color: white;
    border-radius: 25px;
}

button {
    border-radius: 25px;
    list-style-position: inside;
    font-weight: bold;
}

#goBack {
    background-color: #982000;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#clear {
    background-color: #982000;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 55%;
    text-align: center;
    font-weight: bold;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: #982000;
    font-size: 15px;
    color: white;
}
